@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body{
  background-color: #00000D;
}

#root{
  margin: 0 auto;
}





/* Media query for small screens (mobile phones) */
@media only screen and (max-width: 500px) {
  #root{
    width: 400px;
    margin: 0 auto;
  }
}

/* Media query for medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Your CSS styles for medium screens go here */
}

/* Media query for large screens (desktops and laptops) */
@media only screen and (min-width: 1025px) {
  /* Your CSS styles for large screens go here */
}
